.aside-bar {
    width: 230px;
    position: fixed;
    height: 100vh;
}

.sidebar-nav {
    width: 230px;
    height: 100%;
    overflow: scroll;
    position: relative;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 90%;
    margin: auto;
    display: block;
    padding: 10px;
}

.sidebar-nav li a:hover {
    background-color: aliceblue;
    border-radius: 15px;
}

.sidebar-nav li .active {
    background-color: aliceblue;
    border-radius: 15px;
}

.sidebar-nav li a *:last-child {
    margin-left: 20px;
}

.tfb-link {
    list-style-type: none;
    overflow: hidden;
}

.tfb-link li {
    float: left;
}

.tfb-link a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}