.top-nav-bar {
    z-index: 1000;
    padding: 5px 0px 7px 0px;
    line-height: 0;
}

.top-nav-bar .trisharan {
    list-style-type: none;
    margin: 0px;
}

.top-right-nav img{
    cursor: pointer;
}
.signup-login{
    color:#1F73D4;
    cursor: pointer;
}
